<section>
  <div class="container">
    <h3><%= @message.title %></h3>
    <div>
    <p>From: <%= @message.author %></p>
     <p><%= @message.body %> </p>
     <p class="right">Sent: <%= @message.created %></p>
    </div>
    
  </div>
</section>
