<section>
  <div class="jumbotron">
    <h1>Your Source for qualified canidates</h1>
  </div>
  <div id="catchPhrase" class="container">
    <div class="row">
      <div class="col-xs-6">
        <h2>Find Someone to Refer</h2>
        <ul>
          <li>Find top talent</li>
          <li>Grow your network</li>
          <li>Build relationships</li>
          <li>Get referral bonuses</li>
          <li>Build great teams</li>
        </ul>
      </div>
      <div class="col-xs-6">
        <h2>Get a Referral</h2>
        <ul>
          <li>Search by company</li>
          <li>Search by role</li>
          <li>Grow your network</li>
          <li>Get an interview</li>
        </ul>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <button>Sign-up</button>
          
        </div>
        <div class="col-xs-6">
          
          <button>Sign-up</button>
        </div>
        
      </div>
    </div>
    
  </div>
</section>

