<section>
  <div class="jumbotron">
    <h1>Your Source for qualified canidates</h1>
  </div>
  <div id="catchPhrase" class="container">
  <div id="outline"
    <div class="row">
      <div class="col-xs-6">
        <h2>Find Someone to Refer</h2>
        <p>Have a simple informational interview over lunch and refer qualified candidates. Grow your network, build relationships, create greate teams, &#38;get referral bonues.</p>
      </div>
      <div class="col-xs-6">
        <h2>Get a Referral</h2>
        <p>Getting a phone screen or interview without knowing someone at a company can be a duanting task. Referrals are the proven way to make sure your application is reviewed.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 center">
        <button><%= link_to "Sign-up", new_user_path %></button>
      </div>
    </div>


  </div>

  </div>

  </div>
</section>
