<section>
  <div class="jumbotron">
    <h1>Finding a job is hard</h1>
  </div>
  <div id="catchPhrase" class="container">
    <h1>Buoy connects job seekers with <br>
    employees that want to lend a hand.</h1>
    <div class="row">
      <div class="col-xs-6 centered">
        <button>I'm Swimming!</button>
      </div>
      <div class="col-xs-6 centered">
       <button>I'm Drowning!</button>
      </div>
    </div>
    
  </div>
</section>

