/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Lobster);

body {
	font-family: 'Source Sans Pro', sans-serif;
}

/////////////////////////////////////
////////// navigation bars //////////
////////////////////////////////////
nav {
	z-index: 900;
}

.navbar {
	margin-bottom: 0;
	padding-bottom: 0;
	border: 0;
	border-radius: 0;
}

.navbar-brand {
font-family: 'Lobster', cursive;
font-size: 20pt;
}


.navbar-header .navbar-brand {
	color: #ffffff;
}

.navbar-header .navbar-brand:hover {
	color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #ff4056;  //Sets text hover color on navbar
background-color: #ffffff;  //Sets background hover color on navbar
}

.navbar-default {
		background-color:#ff4056;
}

//Sets dropdown text color and background on hover
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #ff4056;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff; //Change active text color
}

/////////////////////////////////////
////////// collapsed nav //////////
////////////////////////////////////
.navbar-toggle {
	border: none;
	box-shadow: none;
	background-color: none;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

#hamburger:hover {
	border: none;
	box-shadow: none;
	background-color: transparent;
}

#hamburger:focus {
	border: none;
	box-shadow: none;
	background-color: transparent;
}



/////////////////////////////////////
////////// main nav bar ////////////
////////////////////////////////////
.main-nav {
	background-color: #ffffff;
	text-align: center;
}

#center-nav {
	width: 100%;
	text-align: center;
	padding-top: 5px;
	> li {
		float: none;
		display: inline-block;
		color: black;
		font-size: 16pt;
	}
}

#center-nav > li a {
	color: #212121;
	border-width: 5px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}


#center-nav > li a:hover {
	color: #ff4056;
	border-width: 5px;
	border-bottom-width:5px;
	border-bottom-color:#ff4056;
	border-bottom-style: solid;
}
/////////////////////////////////////
////////// main collapsed nav //////////
////////////////////////////////////
.navbar-toggle {
	border: none;
	box-shadow: none;
	background-color: none;
}

#main-toggle {
	background-color: #ff4056;
}

#hamburger:hover {
	border: none;
	box-shadow: none;
	background-color: transparent;
}

#hamburger:focus {
	border: none;
	box-shadow: none;
	background-color: transparent;
}



////////////////////////////////////
////////// main page view //////////
////////////////////////////////////
section{
	padding-bottom: 5%;
	min-height: 100vh;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

////////////////////////////
////////// footer //////////
////////////////////////////
#footer {
	height: 6vh;
	background-color:#ff4056;
	color: #ffffff;
	line-height: 6vh;
	font-weight: 300;
}

#footer-text {
	margin: 0;
}

.row {
	margin: 0;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

////////////////////////////
////////// red buttons /////
////////////////////////////

button {
	font-size: 20px;
	margin: auto;
	text-align: center;
	border-radius: 6px;
	box-shadow: 1px 1px 1px #9E9E9E;
	border:0.1em solid #ff4056;
	background-color: #ff4056;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 25px;
	padding-right: 25px;
	font-weight: 300;
  color: #ffffff;

}

button:hover {
	background-color: #ffffff;
	border-color: #ff4056;
	border:0.1em solid #ff4056;
	box-shadow: none;
  color: #ff4056;

}

button:active {
	background-color: #ffffff;
	border-color: #ff4056;
	border:0.1em solid #ff4056;
	box-shadow: none;
}
