/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro|Roboto:300,400|Courgette);

body {
	font-family: 'Roboto', sans-serif;
}
/////////////////////////////////////
////////// navigation bar //////////
////////////////////////////////////
nav {
	z-index: 900;
}

.navbar {
	margin-bottom: 0;
	padding-bottom: 0;
	border: 0;
}

.navbar-brand {
font-family: 'Courgette', cursive;
font-size: 20pt;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.navbar-default .navbar-brand a:hover {
color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #ff4056;  //Sets text hover color on navbar
background-color: #ffffff;  //Sets background hover color on navbar
}

.navbar-default {
		background-color:#ff4056;
}

//Sets dropdown text color and background on hover
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #ff4056;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff; //Change active text color
}

////////////////////////////////////
////////// main page view //////////
////////////////////////////////////
section{
	padding-bottom: 5%;
	min-height: 85vh;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

////////////////////////////
////////// footer //////////
////////////////////////////
#footer {
	height: 10vh;
	padding-top: 2%;
	background-color:#ff4056;
	color: #ffffff;
}

.row {
	margin: 0;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}
