/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300italic|Kaushan+Script);

body {
	font-family: 'Source Sans Pro', sans-serif;
}

h3 {
	font-size: 20pt;
	font-weight: bolder;
}

h4 {
font-size: 16pt;
}

/////////////////////////////////////
////////// navigation bars //////////
////////////////////////////////////
nav {
	z-index: 900;
}

.navbar {
	margin-bottom: 0;
	padding-bottom: 0;
	border: 0;
	border-radius: 0;
}

.navbar-brand {
font-family: 'Kaushan Script', cursive;
font-size: 20pt;
}


.navbar-header .navbar-brand {
	color: #ffffff;
}

.navbar-header .navbar-brand:hover {
	color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #ff4056;  //Sets text hover color on navbar
background-color: #ffffff;  //Sets background hover color on navbar
}

.navbar-default {
		background-color:#ff4056;
}

//Sets dropdown text color and background on hover
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #ff4056;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff; //Change active text color
}

//////////////////////////////////////
////////// collapsed nav ////////////
////////////////////////////////////
.navbar-toggle {
	border: none;
	box-shadow: none;
	background-color: none;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

#hamburger:hover {
	border: none;
	box-shadow: none;
	background-color: transparent;
}

#hamburger:focus {
	border: none;
	box-shadow: none;
	background-color: transparent;
}

///////////////////////////////////////
////////// main nav bar //////////////
/////////////////////////////////////
.main-nav {
	background-color: #F5F5F5;
	text-align: center;
}

#center-nav {
	width: 100%;
	text-align: center;
	padding-top: 5px;
	> li {
		float: none;
		display: inline-block;
		color: black;
		font-size: 16pt;
		padding: 5px 25px 0px 25px;
	}
}

#center-nav > li a {
	color: #212121;
	border-width: 5px;
	border-bottom-color: #F5F5F5;
	border-bottom-style: solid;
	font-weight: 300;
}

#center-nav > li a:hover {
	color: #ff4056;
	background-color: #F5F5F5;
	border-width: 5px;
	border-bottom-width:5px;
	border-bottom-color:#ff4056;
	border-bottom-style: solid;
	font-weight: 400;
}
//////////////////////////////////////
////////// main collapsed nav ///////
////////////////////////////////////
.navbar-toggle {
	border: none;
	box-shadow: none;
	background-color: none;
}

#main-toggle {
	background-color: #ff4056;
}

#hamburger:hover {
	border: none;
	box-shadow: none;
	background-color: transparent;
}

#hamburger:focus {
	border: none;
	box-shadow: none;
	background-color: transparent;
}



///////////////////////////////////////
////////// main page view ////////////
/////////////////////////////////////
section{
	padding-bottom: 5%;
	min-height: 100vh;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

///////////////////////////////
////////// footer ////////////
/////////////////////////////
#footer {
	height: 6vh;
	background-color:#ff4056;
	color: #ffffff;
	line-height: 6vh;
	font-weight: 300;
}

#footer-text {
	margin: 0;
}

.row {
	margin: 0;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

//////////////////////////////////////////////
////////// seeker status pending views //////
////////////////////////////////////////////

.pending-seeker-status {
	box-shadow: 1px 1px 1px #9E9E9E;
	border:0.1em solid #EEEEEE;
	padding-bottom: -100px;
	display: inline-block;
	width: 80%;
	margin-top: 10%;
}

// edit profile button positioning
#edit-profile {
	margin: 25px 0px -30px 0px;
}


///////////////////////////////
////////// red buttons ///////
/////////////////////////////
// Refactor associated html to btn-primary

button {
	font-size: 20px;
	margin: auto;
	text-align: center;
	border-radius: 6px;
	box-shadow: 1px 1px 1px #9E9E9E;
	border:0.1em solid #ff4056;
	background-color: #ff4056;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 25px;
	padding-right: 25px;
	font-weight: 300;
  color: #ffffff;

}

button:hover {
	background-color: #ffffff;
	border-color: #ff4056;
	border:0.1em solid #ff4056;
	box-shadow: none;
  color: #ff4056;

}

button:active {
	background-color: #ffffff;
	border-color: #ff4056;
	border:0.1em solid #ff4056;
	box-shadow: none;
}

/////////////////////////////////
////////// primary buttons /////
///////////////////////////////

.btn-primary {
	font-size: 20px;
	margin: auto;
	text-align: center;
	border-radius: 6px;
	box-shadow: 1px 1px 1px #9E9E9E;
	border:0.1em solid #ff4056;
	background-color: #ff4056;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 25px;
	padding-right: 25px;
	font-weight: 300;
  color: #ffffff;
}

.btn-primary:hover {
	background-color: #ffffff;
	border-color: #ff4056;
	border:0.1em solid #ff4056;
	box-shadow: none;
  color: #ff4056;

}

.btn-primary:active {
	background-color: #ffffff;
	border-color: #ff4056;
	border:0.1em solid #ff4056;
	box-shadow: none;
}


.btn-primary:focus {
	background-color: #ffffff;
	border-color: #ff4056;
	border:0.1em solid #ff4056;
	box-shadow: none;
	outline: none;
	color: #ff4056;
}

.btn-primary.active {
	background-color: #ffffff;
	border-color: #ff4056;
	border:0.1em solid #ff4056;
	box-shadow: none;
	outline: none;
	color: #ff4056;
}

.btn-primary:active:focus {
	background-color: #ffffff;
	border-color: #ff4056;
	border:0.1em solid #ff4056;
	box-shadow: none;
	outline: none;
	color: #ff4056;
}

.btn-primary.active:focus{
	background-color: #ffffff;
	border-color: #ff4056;
	border:0.1em solid #ff4056;
	box-shadow: none;
	outline: none;
	color: #ff4056;
}

.btn-primary:active:focus{
	background-color: #ffffff;
	border-color: #ff4056;
	border:0.1em solid #ff4056;
	box-shadow: none;
	outline: none;
	color: #ff4056;
}


/////////////////////////////////
////////// danger buttons //////
///////////////////////////////
.btn-danger {
	font-size: 20px;
	margin: auto;
	text-align: center;
	border-radius: 6px;
	border:0.1em solid #ff4056;
	background-color: #ffffff;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 25px;
	padding-right: 25px;
	font-weight: 300;
  color: #ff4056;
}

.btn-danger:hover {
	background-color: #ff4056;
	border-color: #ff4056;
	border:0.1em solid #ffffff;
	box-shadow: none;
  color: #ffffff;
}

.btn-danger:active {
	background-color: #ff4056;
	border-color: #ff4056;
	border:0.1em solid #ffffff;
	box-shadow: none;
	color: #ffffff;
}

.btn-danger:focus {
	background-color: #ff4056;
	border-color: #ff4056;
	border:0.1em solid #ffffff;
	box-shadow: none;
	color: #ffffff;
}

.btn-danger.active {
	background-color: #ff4056;
	border-color: #ff4056;
	border:0.1em solid #ffffff;
	box-shadow: none;
	color: #ffffff;
}

.btn-danger:active:focus {
	background-color: #ff4056;
	border-color: #ff4056;
	border:0.1em solid #ffffff;
	box-shadow: none;
  color: #ffffff;
}

.btn-danger.active:focus{
	background-color: #ff4056;
	border-color: #ff4056;
	border:0.1em solid #ffffff;
	box-shadow: none;
  color: #ffffff;
}

.btn-danger:active:focus{
	background-color: #ff4056;
	border-color: #ff4056;
	border:0.1em solid #ffffff;
	box-shadow: none;
  color: #ffffff;
}

/////////////////////////////////
////////// cancel buttons /////
///////////////////////////////

.btn-cancel {
	font-size: 20px;
	margin: auto;
	text-align: center;
	border-radius: 6px;
	box-shadow: 1px 1px 1px #9E9E9E;
	border:0.1em solid #BDBDBD;
	background-color: #BDBDBD;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 25px;
	padding-right: 25px;
	font-weight: 300;
  color: #ffffff;
}

.btn-cancel:hover {
	background-color: #ffffff;
	border-color: #BDBDBD;
	border:0.1em solid #BDBDBD;
	box-shadow: none;
  color: #BDBDBD;

}

.btn-cancel:active {
	background-color: #ffffff;
	border-color: #BDBDBD;
	border:0.1em solid #BDBDBD;
	box-shadow: none;
}


.btn-cancel:focus {
	background-color: #ffffff;
	border-color: #BDBDBD;
	border:0.1em solid #BDBDBD;
	box-shadow: none;
	outline: none;
	color: #BDBDBD;
}

.btn-cancel.active {
	background-color: #ffffff;
	border-color: #BDBDBD;
	border:0.1em solid #BDBDBD;
	box-shadow: none;
	outline: none;
	color: #BDBDBD;
}

.btn-cancel:active:focus {
	background-color: #ffffff;
	border-color: #BDBDBD;
	border:0.1em solid #BDBDBD;
	box-shadow: none;
	outline: none;
	color: #BDBDBD;
}

.btn-cancel.active:focus{
	background-color: #ffffff;
	border-color: #BDBDBD;
	border:0.1em solid #BDBDBD;
	box-shadow: none;
	outline: none;
	color: #BDBDBD;
}

.btn-cancel:active:focus{
	background-color: #ffffff;
	border-color: #BDBDBD;
	border:0.1em solid #BDBDBD;
	box-shadow: none;
	outline: none;
	color: #BDBDBD;
}


/////////////////////////////////////////////
////////// dashboard & message styles //////
///////////////////////////////////////////
#avatar {
	width: 200px;
	height: 200px;
	margin-top: 15px;
}

.timestamps {
	color: #9E9E9E;
	font-size: 20pt;
}

/////////////////////////////////////////////
////////// profile & search results ////////
///////////////////////////////////////////
.compress {
padding-left: 225px;
padding-right: 225px;
}

.profile-image {
	border-radius: 100%;
	width: 100px;
	height: 100px;
	padding-top: 5%;
	padding-bottom: 2%;
}

.name {
	font-weight: bold;
	color: #424242;
	margin: 50px 0px 3px 0px;
}

.title {
	color: #9E9E9E;
	margin: 0 auto;
}

.add-friend {
	max-width: 180px;
	padding: 60px 0px 0px 0px;
}

.name-title {
	padding: 0% 0% 0% 3%;
}

.glyphicon-map-marker {
	color: #ff4056;
}

.location {
	color: #ff4056;
	padding-top: 15px;
	padding-left: 15px;
	font-size: 20pt;
}

.employments {
	text-decoration: none;
	border-width: 5px;
	border-top-width:1px;
	border-top-color:#E0E0E0;
	border-top-style: solid;
	padding: 10px 0px 10px 0px;
}

.industry {
	font-size: 12pt;
	padding-left: 5px;
}

.indent {
	margin-left: 15px;
}

#location-history {
	color: #212121;
}
