// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.searchnav {
	padding-top: 90px;
}

/////////////////////////////////////
////////// profile forms ///////////
///////////////////////////////////
.label {
	font-size: 12pt;
	font-weight: bold;
}

#edit-image {
	padding: 0px;
}

.seeker-new {
	margin: 50px 200px 0px 200px;
}

.seeker{
// margin: 20px 100px 0px 100px;
margin-top: 20px;
}

.add-seeker-status {
	margin-top: 30px;
}

.push-down {
	margin-top: 20px;
}

.basic {
	margin-top: 10px;
	font-size: 20pt;
}

.question {
	color: #ff4056;
}

/////////////////////////////////////
////// pagination /////////// //////
///////////////////////////////////
#profiles {
	margin-top: 20px;
}

/////////////////////////////////////
////// search results /////// //////
///////////////////////////////////
.result {
	margin-top: 20px;
	margin-bottom: 20px;
	border:0.2em solid #EEEEEE;
	border-radius: 5px;
}

.result-info {
	padding-top: 10px;
	padding-bottom: 10px;
}

.result-info img {
	width: 100px;
	height: 100px;
	border-radius: 100%;
}

.btn {
	font-size: 11pt;
	margin: 5px;
	width: 120px;
}

.result-detail a {
	text-decoration: none;
  color: #616161;
}

.result-detail a:hover {
	text-decoration: none;
}

#name {
	font-size: 15pt;
	font-weight: bold;
}

#city {
font-size: 10pt;
}

#role {
	font-size:12pt;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
	select {
		height:30px;
		line-height:30px;
		background:#f4f4f4;
	} 
}

select::-moz-focus-inner { /*Remove button padding in FF*/ 
	border: 0;
	padding: 0;
}

@-moz-document url-prefix() { /* targets Firefox only */
	select {
		padding: 15px 0!important;
	}
}   

@media screen\0 { /* IE Hacks: targets IE 8, 9 and 10 */        
	select {
		height:30px;
		line-height:30px;
	}     
}
