// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail img{
	width: 100px;
	height: 100px;
	border-radius: 100%;
}

.searchnav {
	padding-top: 10%;
}
.pretty td, .pretty th{
	padding: 4px 10px;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.png);
  background-size: cover;
}

.pretty th .desc {
  background-image: url(/images/down_arrow.png);
  background-size: cover;
}



/////////////////////////////////////
////////// profile forms ///////////
///////////////////////////////////
.label {
	font-size: 12pt;
	font-weight: bold;
}

#edit-image {
	padding: 0px;
}

.seeker-new {
	margin: 50px 200px 0px 200px;
}

.seeker{
// margin: 20px 100px 0px 100px;
margin-top: 20px;
}

.add-seeker-status {
	margin-top: 30px;
}

.push-down {
	margin-top: 20px;
}

.basic {
	margin-top: 10px;
	font-size: 20pt;
}

.question {
	color: #ff4056;
}

/////////////////////////////////////
////// search results - index //////
///////////////////////////////////

.result {
	margin-top: 20px;
	margin-bottom: 20px;
	border:0.1em solid #EEEEEE;
}
