// Place all the styles related to the Searched controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
  text-decoration: none;
  color: #424242;
}

a:hover {
  text-decoration: none;
  color: #ff4056;
}
