// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
	clear: both;
}

.jumbotron h1 {
	margin-top: 10%;
	margin-bottom: 5%;
	padding: 0px 10px 10px 10px;
	text-align: center;
	font-weight: bolder;
	position: relative;
	top: 20px;
	bottom: 10px;
}

/* Portrait */
@media screen and (orientation:portrait) {
	.jumbotron {
		background-image: image-url("banner2.jpg");
		background-size: cover;
	  width: 100%;
		color: white;
		height: 50vh;
	}
}
/* Landscape */
@media screen and (orientation:landscape) {
	.jumbotron {
		background-image: image-url("banner2.jpg");
	  width: 100%;
		color: white;
		height: 50vh;
		background-size: cover;
		background-repeat: no-repeat;
	}
}


/////////////////////////////
////////// welcome //////////
/////////////////////////////

#outline {
	box-shadow: 1px 1px 1px #9E9E9E;
	border:0.1em solid #EEEEEE;
	padding-bottom: -100px;
	display: inline-block;
}

#sign-up {
	margin-bottom: -30px;
}

.welcome-info {
	padding-bottom: -10px;
}

.info-text {
	padding: 0px 10px 10px 10px;
	font: 'Source Sans Pro', sans-serif;
	font-weight: bolder;
}

.welcome-icon {
	padding-top: 10px
}

.middle-line {
	border-right: 1px solid #ff4056;
	margin: 15px 0px 25px 0px;
}

.middle-adjust {
	margin: 15px 0px 25px 0px;
}

/////////////////////////////
////////// more-info //////
///////////////////////////

#more-info {
	padding-top: 20px;
	// margin-top: 20px;
}
.parent {
    display: table;
    table-layout: fixed;
}

.child {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

#how-to {
	// padding-top: 25px;
	margin-top: 40px;
	font: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}
/////////////////////////////
////////// buttons /////////
/////////////////////////////

// Move button css to application.scss
button {
	font-size: 20px;
	margin: auto;
	text-align: center;
	border-radius: 6px;
	box-shadow: 1px 1px 1px #9E9E9E;
	border:0.1em solid #ff4056;
	background-color: #ff4056;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 25px;
	padding-right: 25px;
	font-weight: 300;
}

button:hover {
	background-color: #ffffff;
	border-color: #ff4056;
	border:0.1em solid #ff4056;
	box-shadow: none;
}

button:active {
	background-color: #ffffff;
	border-color: #ff4056;
	border:0.1em solid #ff4056;
	box-shadow: none;
}

button a {
	color: #ffffff;
	text-decoration: none;
}

button a:hover {
	color: #ff4056;
	text-decoration: none;
}

button a:active {
	color: #ff4056;
	text-decoration: none;
}
