// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
	clear: both;
}

.jumbotron h1 {
	margin-top: 13%;
	padding-left: 1%;
	padding-right: 1%;
	text-align: center;
	font-weight: bolder;
}

/* Portrait */
@media screen and (orientation:portrait) {
	.jumbotron {
		background-image: image-url("banner2.jpg");
		background-size: cover;
	  width: 100%;
		color: white;
		height: 30vh;

	}
}
/* Landscape */
@media screen and (orientation:landscape) {
	.jumbotron {
		background-image: image-url("banner2.jpg");
	  width: 100%;
		color: white;
		height: 40vh;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

#catchPhrase {
	text-align: left;
}

#outline {
	box-shadow: 1px 1px 1px #9E9E9E;
	border:0.1em solid #EEEEEE;
}


/////////////////////////////
////////// buttons /////////
/////////////////////////////

// Move button css to application.scss
button {
	font-size: 20px;
	margin: auto;
	text-align: center;
	border-radius: 6px;
	box-shadow: 1px 1px 1px #9E9E9E;
	border:0.1em solid #ff4056;
	background-color: #ff4056;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 25px;
	padding-right: 25px;
	font-weight: 300;
}

button:hover {
	background-color: #ffffff;
	border-color: #ff4056;
	border:0.1em solid #ff4056;
	box-shadow: none;
}

button:active {
	background-color: #ffffff;
	border-color: #ff4056;
	border:0.1em solid #ff4056;
	box-shadow: none;
}

button a {
	color: #ffffff;
	text-decoration: none;
}

button a:hover {
	color: #ff4056;
	text-decoration: none;
}

button a:active {
	color: #ff4056;
	text-decoration: none;
}
