<!-- <footer id="footer">
  <div class="row">
    <div class="col-xs-4 left">
    </div>
    <div class="col-xs-4 center">
      <p id="footer-text"> Built in San Francisco. All rights reserved. &copy;2016 </p>
    </div>
    <div class="col-xs-4 right">
    </div>
  </div>
</footer> -->




<footer id="footer">
  <div class="row">
    <div class="col-xs-12 center">
      <p> Built in San Francisco. All rights reserved. &copy;2016 </p>
    </div>
  </div>
</footer>
